body{
margin: 0;
background: #ffffff;
font-weight: 400;
}
.container {
width: 80%;
height: auto;
position: relative;
}
header{
background: #ffffff;
}
header::after{
content: '';
display: table;
clear: both;

}
.logo{
float: left;
padding: 5px 10px;
}
nav{
float: right;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
display: inline-block;
margin-left: 70px;
padding-top: 40px;
position: relative;
}
nav a {
color: #42A5FF;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}
nav a:hover{
color: black;
}
nav a::before{
content: '';
display: block;
height: 4px;
width: 100%;
background-color: #42A5FF;
position: absolute;
top: 0;
width: 0%;
transition: all ease-in-out 300ms;
}
nav a:hover::before{
width: 100%;
}



.kleinlogo{
position: fixed;
width: 220px;
margin-top: 15px;
}


h1{
  text-align: center;
}
p, h1{
  font-family: arial;
  text-align: left;
}

.tekstje{
  width: 180px;
  height: 550px;
  float: left;
  background-color: #d3dee7;
  padding: 20px;
  position: fixed;
  letter-spacing: 0,8px;
  margin: 0px;
}
.teksterbij{
  text-decoration: none;
}


.artikel1{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px
}
.artikel2{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px
}

.artikel4{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}
.artikel3{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}

.artikel5 {
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}
.artikel6{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}

.artikel7{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}

.artikel8{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}

.artikel9{
  color: black;
  background-color: #D3DEE7;
  float:right;
  padding:20px 20px 10px 20px;
}


.tekst{
  color: black;
}
.tekst:hover{
  background-color: #42A5FF;
  text-decoration: none;
}
.teksterbij{
  color: black;
}

.teksterbij:link{
 text-decoration: none;
}
.teksterbij:hover{
 color: #42a5ff
}
